<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="RapidFileRefresher"
         point="org.eclipse.core.resources.refreshProviders">
      <refreshProvider
            class="rfr.core.RapidRefreshProvider"
            name="RapidFileRefresher">
      </refreshProvider>   </extension>

   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            name="RapidFileRefresh"
            class="rfr.core.properties.RfrPropertiesPage"
            id="rfr.core.properties.rfrPropertiesPage">
      </page>
   </extension>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="RapidRefreshPlugin"
            id="RapidFileRefresh">
      </category>
      <view
            name="Project Manager"
            icon="icons/sample.gif"
            category="RapidFileRefresh"
            class="rfr.core.views.ProjectListView"
            id="rfr.core.views.ProjectListView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="rfr.core.views.SampleView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
</plugin>
