<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="RapidFileRefresher"
         point="org.eclipse.core.resources.refreshProviders">
      <refreshProvider
            class="rfr.core.RapidRefreshProvider"
            name="RapidFileRefresher">
      </refreshProvider>   </extension>

   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            name="RapidFileRefresh"
            class="rfr.core.properties.RfrPropertiesPage"
            id="rfr.core.properties.rfrPropertiesPage">
      </page>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
</plugin>
